<head>
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-2.0.0-rc.2.min.js'></script>
</head>

<body>
	Spotify Plot:
	
	<div id='myDiv' style="height:100%;width:100%"><!-- Plotly chart will be drawn inside this DIV --></div>

<script type="text/javascript">
	var songValues = {{ songValues|safe }}
	var x = []
	var y = []
	var z = []
	var names = []

	songValues.map(song => {
		x.push(song.danceability)
		y.push(song.energy)
		z.push(song.liveness)
		names.push(song.name)
	})

var trace1 = {
	x: x,
	y: y,
	z: z,
	mode: 'markers',
	type: 'scatter3d',
	name: 'Song Details',
	text: names,
	marker: { size: 5 }
};

var data = [ trace1 ];

var layout = {
  xaxis: {
		title: "Danceability",
    range: [ 0.0, 1.0 ]
  },
  yaxis: {
		title: "Energy",
    range: [ 0.0, 1.0 ]
  },
	zaxis: {
		title: "Liveness",
    range: [ 0.0, 1.0 ]
  },
  title:'Data Labels Hover'
};

Plotly.newPlot('myDiv', data, layout);

</script>
</body>